// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700|Work+Sans:400,500,700&display=swap');
// Define fonts for body and headers

$body-font: "Work Sans", "Helvetica", "sans-serif";
$headers-font: "Roboto", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

$WalsheimProReg: "GT Walsheim Pro Regular";
@font-face {
  font-family: $WalsheimProReg;
  src: font-url('GTWalsheimPro-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


$WalsheimProBold: "GT Walsheim Pro Bold";
@font-face {
  font-family: $WalsheimProBold;
  src: font-url('GTWalsheimPro-Bold.woff') format('woff2');
  font-weight: normal;
  font-style: bold;
}

$YoungSerif: "YoungSerif-Regular";
@font-face {
  font-family: $YoungSerif;
  src: font-url('YoungSerif-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
