.header-text {
font-family: $WalsheimProBold;
font-style: Bold;
font-size: 26px;
color: white;
// line-height: 20px;
// line-height: 67%;
// align: Center;
// vertical-align: Top;
opacity: 100%;
margin-left: 5px;
text-shadow:
    -1px -1px 0 #3B3B3B,
     0   -1px 0 #3B3B3B,
     1px -1px 0 #3B3B3B,
     1px  0   0 #3B3B3B,
     1px  1px 0 #3B3B3B,
     0    1px 0 #3B3B3B,
    -1px  1px 0 #3B3B3B,
    -1px  0   0 #3B3B3B;
}

.body {
font-family: "Work Sans";
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
margin-left: 5px;
color: #E28251;
// line-height: 20px;
// line-height: 67%;
// align: Center;
// vertical-align: Top;
opacity: 100%;
}

<<<<<<< HEAD
.subcontainer-content {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 1.5rem;
}

.home {
  margin-top: 57px;
}
