<div class="messages-container">
  <div class="messages-h2">
    <h2> Messages </h2>
  </div>
  <div class="more-margin2">
    <% @messaged_by.each do |user| %>
      <%= link_to user_show_messages_path(user.id) do %>
        <div class="user-messages">
          <h3><%= user.full_name %></h3>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
