<div class="about">
  <section class="goals">
    <h1 class="slogan"></h1>
    <div class="mission">
      <p></p>
    </div>
  </section>
  <div class="mission-section">
    <h1 class="mission-title"></h1>
    <div class="mission-content">
      <section class="mission-card" >
        <div class="mission-media">
          <img src="">
        </div>
        <div class="mission-card-content">
          <h2></h2>
          <p></p>
        </div>
      </section>
      <section class="mission-card" >
        <div class="mission-media">
          <img src="">
        </div>
        <div class="mission-card-content">
          <h2></h2>
          <p></p>
        </div>
      </section>
    </div>
  </div>
  <div class="team">
    <h1 class="team-title"></h1>
    <div class="team-content">
      <section class="team-card">
        <div class="team-media">
          <img src="">
        </div>
        <div class="team-card-content">
          <h2></h2>
          <p></p>
        </div>
      </section>
    </div>
  </div>
</div>
