<div class="faq">
  <div class="faq-banner">
    <h1 class="faq-header">Frequently Asked Questions (FAQ)</h1>
  </div>
  <div class="faq-container">
    <div class="faq-content">
      <h2 class="question">How do you ensure the quality</h2>
    </div>
    <div>
      <h3 class="answer">We don't</h3>
    </div>
  </div>
  <div class="faq-container">
    <div class="faq-content">
      <h2 class="question"></h2>
    </div>
    <div>
      <h3 class="answer"></h3>
    </div>
  </div>
  <div class="faq-container">
    <div class="faq-content">
      <h2 class="question"></h2>
    </div>
    <div>
      <h3 class="answer"></h3>
    </div>
  </div>
  <div class="faq-container">
    <div class="faq-content">
      <h2 class="question"></h2>
    </div>
    <div>
      <h3 class="answer"></h3>
    </div>
  </div>
</div>
