<div class="faq home">
  <div class="faq-banner">
    <h1 class="faq-header">Frequently Asked Questions (FAQ)</h1>
  </div>
  <div class="faq-container">
    <div class="question-container">
      <h3 class="question">Q. How do you ensure the quality of the weed on your platform?</h3>
    </div>
    <div class="answer-container">
      <h3 class="answer">A. We don't just get gud</h3>
    </div>
  </div>
  <div class="faq-container">
    <div class="question-container">
      <h3 class="question">Q. What do you recommend I start with?</h3>
    </div>
    <div class="answer-container">
      <h3 class="answer">A. Kush Bush is a very good strain to start with. Very smooth much Love.</h3>
    </div>
  </div>
  <div class="faq-container">
    <div class="question-container">
      <h3 class="question">Q. How do you ensure the quality</h3>
    </div>
    <div class="answer-container">
      <h3 class="answer">A. How do you ensure the quality</h3>
    </div>
  </div>
  <div class="faq-container">
    <div class="question-container">
      <h3 class="question">Q. How do you ensure the quality</h3>
    </div>
    <div class="answer-container">
      <h3 class="answer">A. How do you ensure the quality</h3>
    </div>
  </div>
  <div class="faq-container">
    <div class="question-container">
      <h3 class="question">Q. How do you ensure the quality</h3>
    </div>
    <div class="answer-container">
      <h3 class="answer">QA How do you ensure the quality</h3>
    </div>
  </div>
  <div class="faq-container" id="faq-container-bottom">
    <div class="question-container">
      <h3 class="question">Q. How do you ensure the quality</h3>
    </div>
    <div class="answer-container">
      <h3 class="answer">A. How do you ensure the quality</h3>
    </div>
  </div>
</div>
