<h1 class="header-text">Highly Concentrated</h1>
<p class="body-text"> Can’t focus? <br>
 Need to set your mind right? <br>
Just reach out and get Highly Concentrated.</p>

<div class="container mt-3 text-center">
  <div>
    <%= link_to 'Flowers', ganja_flower_path, class: "btn-flower" %>
  </div>
  <br />
  <div>
    <%= link_to 'Edibles', ganja_edible_path, class: "btn-edible" %>
  </div>
</div>
