<% ganjas.each do |ganja| %>
  <div class="product-card">
    <div>
      <p>Name: <%= ganja.name %></p>
      <p>Strain: <%= ganja.strain %></p>
      <p>price: $<%= ganja.unit_price %></p>
    </div>
    <div>
      <p>Description: <%= ganja.strain %></p>
    </div>
  </div>
<% end %>
