.text-center {
  text-align: center;
}

.btn-create {
  display: flex;
  background-color: #55B15B;
  color: #fff;
  font-size: 22px;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 15px 0px 15px 0px;
  margin: 15px 60px 15px 60px;
  border: 2.5px solid #000000;
  box-sizing: border-box;
  border-radius: 32px;
}

.btn-flower {
  display: flex;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  // text-transform: uppercase;
  background-color: #9EBA91;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 15px 0px 15px 0px;
  margin: 10px 30px 10px 30px;
  letter-spacing: 1px;
  border-radius: 32px;
  box-sizing: border-box;
  position: relative;
}

.btn-edible {
  display: flex;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  // text-transform: uppercase;
  background-color: #C36B56;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 15px 0px 15px 0px;
  margin: 10px 30px 10px 30px;
  letter-spacing: 1px;
  border-radius: 32px;
  position: relative;
}

.btn-footer {
  color: white;
  text-decoration: none;
  font-size: 18px;
  &:focus, &:hover {
    text-decoration: none;
    color: #fff;
  }
  &:hover {
    color: lighten(#6C5AC7, 5%);
    &::after {
      opacity: .22;
    }
  }
}
