.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar {
  position: relative;
  top: 0;
  width: 100%;
  padding: 1rem 1rem;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.avatar {
  cursor: pointer;
}

.dropdown-menu {
  z-index: 10;
}
