.bold {
  font-weight: bold;
}

.product-card {
  width: 380px;
  height: 100px;
  box-shadow: 1px 1px 2px rgba(20,20,20,.3);
  border-radius: 8px;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.product-cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  // display: grid;
  // grid-template-columns:
  // 10px
  // repeat(6, calc(50% - 40px))
  // 10px;
}
// .product-cards > * {
//   grid-column: 2 / -2;
// }

// .product-cards  > .full {
//   grid-column: 1 / -1;
// }

.product-p p {
  overflow: hidden;
  white-space: nowrap;
}

.product-card p {
  font-size: 14px;
  margin: 0;
}

.product-card {
  display: flex;
  justify-content: space-between;
}

.product-photo {
  width: 100%;
  height: 70%;
}

.product-img {
  border-radius: 8px;
}

.product-details {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-details1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px;
  height: 100%;
  width: 230px;
}

.product-details2 {
  height: 100%;
  display: flex;
  justify-content: right;
  align-items: flex-end;
  font-weight: bold;
}

h2  {
  text-align: center;
}

.create {
  width: 100%;
  display: flex;
  justify-content: center;
}

.modal-footer {
  justify-content: space-between;
}

.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.modal-header {
  display: inline;
  border: none;
}

.modal-content {
  height: 100%;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.modal-content p {
  margin: 0;
}

.modal-dialog {
  height: 550px;
}

.modal-title {
  text-align: center;
}

// .app {
//   display: grid;
//   grid-template-columns:
//   10px
//   repeat(6, calc(50% - 40px))
//   10px;
// }

// .app > * {
//   grid-column: 2 / -2;
// }

// .app > .full {
//   grid-column: 1 / -1;
// }

// .hs {
//   grid-template-columns: 10px;
//   grid-auto-flow: column;
//   grid-auto-columns: calc(50% - var(--gutter) * 2);
// }
// .hs:before,
// .hs:after {
//   content: '';
//   width: 10px;
//   }
